.menu-list
  .logout
    = link_to 'ログアウト', "/users/get", class: "logout-link"
    <i class="fas fa-angle-right fa-1.5x"></i>
  .card-create
    = link_to '支払い方法', "/cards/new", class: "card-create-link"
    <i class="fas fa-angle-right fa-1.5x"></i>
  .exhibition
    出品する
    <i class="fas fa-angle-right fa-1.5x"></i>
  .draft
    下書き一覧
    <i class="fas fa-angle-right fa-1.5x"></i>
  .exhibiting
    出品した商品 - 出品中
    <i class="fas fa-angle-right fa-1.5x"></i>
  .exhibited-during_trading
    出品した商品 - 取引中
    <i class="fas fa-angle-right fa-1.5x"></i>
  .exhidited-past
    出品した商品 - 売却済み
    <i class="fas fa-angle-right fa-1.5x"></i>
  .bought-item-during_trading
    購入した商品 - 取引中
    <i class="fas fa-angle-right fa-1.5x"></i>
  .bought-item-past
    購入した商品 - 過去の取引
    <i class="fas fa-angle-right fa-1.5x"></i>
  .news
    ニュース一覧
    <i class="fas fa-angle-right fa-1.5x"></i>
  .evaluation
    評価一覧
    <i class="fas fa-angle-right fa-1.5x"></i>
  .guide
    ガイド
    <i class="fas fa-angle-right fa-1.5x"></i>
  .contact
    お問い合わせ
    <i class="fas fa-angle-right fa-1.5x"></i>