.menu-list
  .logout
    = link_to 'ログアウト', "/users/get", class: "logout-link"
    %i.fas.fa-angle-right{:class => "fa-1.5x"}
  .card-create
    = link_to '支払い方法', card_index_path, class: "card-create-link"
    %i.fas.fa-angle-right{:class => "fa-1.5x"}
  .exhibition
    =link_to '出品する', new_product_path, class: "new-products"
    %i.fas.fa-angle-right{:class => "fa-1.5x"}
  .draft
    下書き一覧
    %i.fas.fa-angle-right{:class => "fa-1.5x"}
  .exhibiting
    出品した商品 - 出品中
    %i.fas.fa-angle-right{:class => "fa-1.5x"}
  .exhibited-during_trading
    出品した商品 - 取引中
    %i.fas.fa-angle-right{:class => "fa-1.5x"}
  .exhidited-past
    出品した商品 - 売却済み
    %i.fas.fa-angle-right{:class => "fa-1.5x"}
  .bought-item-during_trading
    購入した商品 - 取引中
    %i.fas.fa-angle-right{:class => "fa-1.5x"}
  .bought-item-past
    購入した商品 - 過去の取引
    %i.fas.fa-angle-right{:class => "fa-1.5x"}
  .news
    ニュース一覧
    %i.fas.fa-angle-right{:class => "fa-1.5x"}
  .evaluation
    評価一覧
    %i.fas.fa-angle-right{:class => "fa-1.5x"}
  .guide
    ガイド
    %i.fas.fa-angle-right{:class => "fa-1.5x"}
  .contact
    お問い合わせ
    %i.fas.fa-angle-right{:class => "fa-1.5x"}