%section.fifth-headline
  %h2.title ピックアップカテゴリー
  .contentsbox
    .contents-title
      %h3.heading 新規投稿商品
    .contents-lists
      .contents-list
        - @newProducts.each do |product|
          =link_to "#" do
            .contents-list__itmes
              .contents-list--item
                = link_to product_path(product), class: "listBtn" do
                  %figure.contents-list--item
                    = image_tag product.images[0].name.url, alt: "image_url",size: "200x150", class:"new-img"
                    -if product.buyer_id.present?
                      .items-box_photo__sold
                        .items-box_photo__sold__inner
                          SOLD
              .contents-list--inner
                %h3.name  
                  = product.name
                .data
                  %ul
                    %li 
                      = product.price
                      円
                    %li
                      %i.fa.fa-star.likeIcon 0
                  %p (税込)