.fifth-headline {
  background-color: #f8f8f8;
  height: 100%;
  padding: 80px 0;
  .title {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
  }
  .contentsbox {
    .contents-title {
      text-align: center;
      color: #17c1db;
      font-size: 24px;
      a {
        color: #17c1db;
        text-decoration: none;
        .heading {
          font-weight: bold;
        }
      }
    }
  }
  .contents-lists {
    .contents-list {
      display: flex;
      justify-content: center;
      a {
        display: inline-block;
        text-decoration: none;
      }
      .contents-list__itmes{
      width: 220px;
      margin: 0px 25px 0px 25px;
      background-color: white;
        .contents-list--item {
          width: 220px;
          height: 150px;
          margin: 0;
          z-index: auto;
          position: relative;
          .items-box_photo__sold{
            width: 0;
            height: 0;
            border-top: 60px solid #ea352d ;
            border-right: 60px solid transparent;
            border-bottom: 60px solid transparent;
            border-left: 60px solid #ea352d ;
            z-index:100;
            position: relative;
            &__inner{
              transform: rotate(-45deg);
              font-size: 28px;
              margin:-35px 0px 0px -55px;
              color: #fff;
              letter-spacing: 2px;
              font-weight: 600;
            }
          }
        }
        img {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          z-index: auto;
          height: 150px;
          object-fit: cover;
        }
        .contents-list--inner {
          text-align: left;
          padding: 13px;
          color: black;

          .name {
            font-size: 13px;
            line-height: 1.5;
            overflow: hidden;
          }
          .data {
            font-size: 16px;
            ul {
              display: flex;
              align-items: center;
              justify-content: space-between;
              
            }
            p {
              font-size: 10px;
            }
          }
        }
    }
  }
  }
}