.header {
  width: 100%;
  padding: 20px 0;
  &__contents {
    max-width: 1040px;
    margin: 0 auto;
  }
  &__contents--main {
    display: flex;
    .searchbox {
      width: 100%;
      margin-left: auto;
      .form {
        display: flex;
      }
      .search-input {
        display: flex;
        width: calc(100% - 26px);
        height: 36px;
        padding: 0 0 0 5px;
      }
    }
    
  }
  
  .form {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    
  }
  .botton {
    width: 36px;
    background-color: #3ccace;
    border: none;
    cursor: pointer;
  }
  .i {
    background-color: lightskyblue;
    color: white;
  }
  
  img {
    width: 80%;
  }
  &__contents--menu {
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      color: black;
      font-size: small;
    }
    ul {
      display: flex;
      justify-content: space-between;
    }
    .right-items {
      &__brands {
        margin-left: 50px;
      }
    }
    .left-items {
      &__rogin {
        margin-right: 50px;
      }
    }  
  }
}