.lead {
  background-color: rgb(245, 245, 245);
  text-align: center;
  height: 128px;
  line-height: 10;
}
.text-counts {
  float: right;
  font-size: 12px;
  color: #cccccc;
}
.please-enter {
  color: red;
  margin: 30px 0;
}
.any {
  background-color: #cccccc;
  color: white;
  padding: 2px 4px;
  font-size: 14px;
  margin-left: 3px;
  cursor: pointer;
  border-radius: 2px;
}
.input-field {
  background-color: rgb(245, 245, 245);
  width: 100%;
  &__contents {
    left: 0;
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    border-bottom: 1px solid hsl(0, 0%, 77%);
    height: 100%;
  }
  
  .input-field__contents-image {
    width: 800px;
    border-bottom: rgb(204, 204, 204);
    .input-field__contents-image__headline{
      font-weight: 600;
      margin-top: 20px;
      margin-left: 5px;
      .name-input {
        height: 54px;
        .option-input {
          display: block;
          width: 93%;
          border-color: #cccccc;
          height: 100%;
          border-radius: 4px;
          font-weight: bolder;
          padding: 0px 2px 1px;
          border-width: 1px;
        }
      }
    }
    .upload {
      margin-top: 16px;
      margin-left: 5px;
    }
    #image-box-1 {
      display: flex;
      height: 130px;
      width: 100%;
      margin-right: 0px;
      text-align: center;
      cursor: pointer;
      i{
        padding-top: 50px;
        cursor: pointer;
      }
      .item-num-0#image-box__container  {
      background-color: rgb(245, 245, 245);
      height: 100%;
      width: 100%;
      border-width: 1px;
      border-style: dashed;
      border-color: rgb(204, 204, 204);
      border-image: initial;
      text-align: center;
      }
      .item-num-1{
        background-color: rgb(245, 245, 245);
      height: 100%;
      width: 100%;
      border-width: 1px;
      border-style: dashed;
      border-color: rgb(204, 204, 204);
      border-image: initial;
      text-align: center;
      }
      .item-num-2{
        background-color: rgb(245, 245, 245);
        height: 100%;
        width: 100%;
        border-width: 1px;
        border-style: dashed;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        text-align: center;
      }
      .item-num-3{
        background-color: rgb(245, 245, 245);
        height: 100%;
        width: 100%;
        border-width: 1px;
        border-style: dashed;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        text-align: center;
      }
      .item-num-4{
        background-color: rgb(245, 245, 245);
      height: 100%;
      width: 100%;
      border-width: 1px;
      border-style: dashed;
      border-color: rgb(204, 204, 204);
      border-image: initial;
      text-align: center;

      }
      .item-num-5{
        background-color: rgb(245, 245, 245);
        height: 100%;
        width: 100%;
        border-width: 1px;
        border-style: dashed;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        text-align: center;
      }
      
      
    }
    //レビュー表示のCSS
    .item-image{
      height: 130px;
      width: 160px;
      border: 1px solid #eee;
      margin-right: 10px;
      .item-image__content{
        padding-top: 10px;
        .item-image__content--icon{
        }
      }
      .item-image__operetion{
        .item-image__operetion--delete{
          color: #00b0ff;
          cursor: pointer;
          padding-top: 5px;
         text-align: center;

        }
      }
    }
  }

  .text-area {
    border-radius: 4px;
    font-size: 16px;
    padding: 13px 16px;
    border-color: #cccccc;
    margin-top: 30px;
    
  }
  .drop-input {
    width: 94%;
    height: 50px;
    border-color: #cccccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin: 10px 10px 0 0;
    ::placeholder {
      padding: 20px;
      font-weight: inherit;
    } 
  }
  .subline {
    color: rgb(136, 136, 136);
    margin-left: 8px;
  }
  .headlabel {
    margin-top: 30px;
    .necessary {
      background-color: #3ccace;
      color: white;
      padding: 2px 4px;
      font-size: 14px;
      margin-left: 3px;
      cursor: pointer;
      border-radius: 2px;
     }
  }
  .identification__form__field {
    height: 54px;
    &--input{
      height: 100%;
      select {
        box-sizing: border-box;
        width: 94%;
        height: 50px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
      }
    }
  }
  .name-form {
    position: relative;
    display: inline-block;
    width: 750px;
    .box__select{
      width: 100%;
      height: 50px;
      border-color: #cccccc;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      margin: 10px 10px 0 0;
    }
    .area {
      position: absolute;
      right: 13px;
      top: 24px;
    }
    .select-input {
      height: 58px;
      width: 100%;
      border-radius: 4px;
      border-color: #cccccc;
      padding: 0 20px;
      margin-top: 10px;
      -webkit-appearance: none;
    }

  }
  .name-input{
    .option-input{
      width: 94%;
      height: 50px;
      border-color: #cccccc;
      border-radius: 4px;
      border-style: solid;
      border-width: 1px;
      margin: 10px 10px 0 0;
    }
  }
  .price {
    color: rgb(136, 136, 136);
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 24px;
  }
  .plice-colum {
    &__inner {
      display: flex;
      padding: 30px 0;
      font-size: 18px;
      justify-content: space-between;

      .headlabel {
        font-weight: 600;
        font-size: 18px;
        width: 100%;
      }
      .maney {
        color: black;
        background-color: white;
        margin-top: 18px;
      }
      .colum-input {
        width: 100%;
        ::placeholder {
          text-align: right;
        }
        &__maney-inner{
          width: 100%;
          border-color: #cccccc;
          height: 100%;
          border-radius: 4px;
          border-width: 1px;
        }
        
      }
      .fee-value {
        background-color: white;
        color: black;
        font-size: 14px;
        line-height: 3;
        margin-right: 40px;
      }
    }
  }
  .sell {
    text-align: center;
    display: grid;
    width: 50%;
    margin-left: 200px;
    .sellbtn {
      background-color: #3ccace;
      color: white;
      font-size: 20px;
      min-height: 48px;
      padding: 0 24px;
      border-color: transparent;
      border-radius: 2px;
      font-weight: 600;
      line-height: 3;
    }
    .save {
      display: inline-block;
      background-color: #ccc;
      border-color: transparent;
      color: #222;
      font-size: 20px;
      min-height: 48px;
      padding: 0 24px;
      border-radius: 4px;
      font-weight: 600;
      margin: 20px 0;
      line-height: 3;
    }
    .backbtn {
      margin-bottom: 30px;
      color: #0095ee;
      text-decoration: none;
      line-height: 3;
    }
  }
  .check {
    height: 100px;
  }
  .new-footer {
    width: 100%;
    height: 300px;
    .terms {
      display: flex;
      justify-content: center;
      &__items {
        margin: 30px 20px;
        font-size: 15px;
        &__item {
          text-decoration: none;
          color: #333333;
        }
      }
    }
    .new-icon {
      text-align: center;
      margin-top: 40px;
    }
    .trademark {
      text-align: center;

    }
  }
}
