.third-headline {
  background-image: url(http://furima.tokyo/assets/bg-topMiddleDl-pict-5042a3aa7eef6dd93330080028e3a781daf47c390c00a4fb5d7e7b06caae68c9.jpg);
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  &__contents {
    color: white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
    &__title {
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      margin: 20px 0 30px;
      font-size: 18px;
    }
    &__icon {
      display: flex;
      .apple-icon {
        width: 180px;
        margin-right: 10px;
      }
      .google-icon {
        width: 180px;
      }
      
    }
  }
}