%section.second-headline
  %h2.second-headline__title
    FURIMAが選ばれる3つの理由
  %ul.second-headline__lists
    %li.list
      .list__pict
        %span.number
          1
        %img{:src => "http://furima.tokyo/assets/pict-reason-01-77b860b45f32923029756050dafc0f6df01a36675414b0f26f127c64a53baaea.jpg"}
      %h3.list__text
        %span{:style => "color:#3CCACE;"}
          3分
        ですぐに出品
      %p.list__explanation
        スマホで入力するだけで簡単に出品できる！
    %li.list
      .list__pict
        %span.number
          2
        %img{:src => "http://furima.tokyo/assets/pict-reason-02-3471b96ea7b52654510992e57dc05af07926de0836200059b7fa4ead05ee4d56.jpg"}
      %h3.list__text
        %span{:style => "color:#3CCACE;"}
          シンプル
        で使いやすい
      %p.list__explanation
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.list--end
      .list__pict
        %span.number
          3
        %img{:src => "http://furima.tokyo/assets/pict-reason-03-1e3c743f3ba3db8c43987d2e257916a615aa8fc59c02bbc116f041a5580ec28f.jpg"}
      %h3.list__text
        手数料 
        %span{:style => "color:#3CCACE;"}
          業界最安
      %p.list__explanation 
        最大3%でお得に出品&購入！